@import url('https://fonts.googleapis.com/css?family=Numans');

.card {
    min-height: 370px;
    margin-top: 30px;
    margin-bottom: auto;
    width: 400px;
    background-color: #99CCFF !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
    font-weight: 550;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white;
    background-color: black;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
    text-decoration: none;
}

.nav-link {
    color: var(--bs-navbar-active-color);
    font-size: large;
    font-weight: 700
}

.container-fluid {
    height: 100px;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

.fab {
    color: black;
}

.d-flex {
    color: var(--bs-navbar-active-color);
}

.row {
    margin-top: 30px;
}

.text-warning {
    color: white !important;
    margin-left: 5px;
}

.footer {
    justify-content: center
}

.text-footer {
    text-align: center;
}